In [4]:
!pip install feature-engine

Collecting feature-engine
  Using cached feature_engine-1.8.0-py2.py3-none-any.whl.metadata (9.8 kB)
Requirement already satisfied: numpy>=1.18.2 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from feature-engine) (2.0.1)
Requirement already satisfied: pandas>=2.2.0 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from feature-engine) (2.2.2)
Requirement already satisfied: scikit-learn>=1.4.0 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from feature-engine) (1.5.1)
Requirement already satisfied: scipy>=1.4.1 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from feature-engine) (1.14.0)
Collecting statsmodels>=0.11.1 (from feature-engine)
  Using cached statsmodels-0.14.2-cp312-cp312-win_amd64.whl.metadata (9.5 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from pandas>=2.2.0->feature-engine) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from pandas>=2.2.0->feature-engine) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from pandas>=2.2.0->feature-engine) (2024.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from scikit-learn>=1.4.0->feature-engine) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from scikit-learn>=1.4.0->feature-engine) (3.5.0)
Collecting patsy>=0.5.6 (from statsmodels>=0.11.1->feature-engine)
  Using cached patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from statsmodels>=0.11.1->feature-engine) (24.1)
Requirement already satisfied: six in c:\users\dhrup\anaconda3\envs\technoenv\lib\site-packages (from patsy>=0.5.6->statsmodels>=0.11.1->feature-engine) (1.16.0)
Using cached feature_engine-1.8.0-py2.py3-none-any.whl (357 kB)
Using cached statsmodels-0.14.2-cp312-cp312-win_amd64.whl (9.8 MB)
Using cached patsy-0.5.6-py2.py3-none-any.whl (233 kB)
Installing collected packages: patsy, statsmodels, feature-engine
Successfully installed feature-engine-1.8.0 patsy-0.5.6 statsmodels-0.14.2

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.metrics.pairwise import rbf_kernel
from sklearn.pipeline import Pipeline , FeatureUnion
from sklearn.base import BaseEstimator , TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import (
    OneHotEncoder,
    OrdinalEncoder,
    MinMaxScaler,
    PowerTransformer,
    StandardScaler,
    FunctionTransformer)
from feature_engine.datetime import DatetimeFeatures
from feature_engine.selection import SelectBySingleFeaturePerformance
from feature_engine.outliers import Winsorizer 
from feature_engine.encoding import (
	RareLabelEncoder,
	MeanEncoder,
	CountFrequencyEncoder
)

import matplotlib.pyplot as plt

import warnings

In [2]:
pd.set_option('display.max_columns' , None)
sklearn.set_config(transform_output='pandas')
warnings.filterwarnings('ignore')

In [3]:
path = 'D:\\Technocolab\\Attrition-Forecast-Analysis-and-Prediction\\Acme_Attrition Data'

Acme_df = pd.read_csv(path + '\\train.csv')

In [4]:
Acme_df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,28,Travel_Frequently,783,Sales,1,2,Life Sciences,1,1927,3,Male,42,2,2,Sales Executive,4,Married,6834,19255,1,Yes,12,3,3,80,1,7,2,3,7,7,0,7,No
1,39,Travel_Frequently,443,Research & Development,8,1,Life Sciences,1,602,3,Female,48,3,1,Laboratory Technician,3,Married,3755,17872,1,No,11,3,1,80,1,8,3,3,8,3,0,7,No
2,37,Travel_Rarely,1192,Research & Development,5,2,Medical,1,460,4,Male,61,3,2,Manufacturing Director,4,Divorced,6347,23177,7,No,16,3,3,80,2,8,2,2,6,2,0,4,No
3,35,Travel_Rarely,1142,Research & Development,23,4,Medical,1,75,3,Female,30,3,1,Laboratory Technician,1,Married,4014,16002,3,Yes,15,3,3,80,1,4,3,3,2,2,2,2,No
4,36,Travel_Rarely,506,Research & Development,3,3,Technical Degree,1,397,3,Male,30,3,2,Research Scientist,2,Single,4485,26285,4,No,12,3,4,80,0,10,2,3,8,0,7,7,No

In [5]:
Acme_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       940 non-null    int64
 1   BusinessTravel            940 non-null    object
 2   DailyRate                 940 non-null    int64
 3   Department                940 non-null    object
 4   DistanceFromHome          940 non-null    int64
 5   Education                 940 non-null    int64
 6   EducationField            940 non-null    object
 7   EmployeeCount             940 non-null    int64
 8   EmployeeNumber            940 non-null    int64
 9   EnvironmentSatisfaction   940 non-null    int64
 10  Gender                    940 non-null    object
 11  HourlyRate                940 non-null    int64
 12  JobInvolvement            940 non-null    int64
 13  JobLevel                  940 non-null    int64
 14  JobRole                   940 non-null    object
 15  JobSatisfaction           940 non-null    int64
 16  MaritalStatus             940 non-null    object
 17  MonthlyIncome             940 non-null    int64
 18  MonthlyRate               940 non-null    int64
 19  NumCompaniesWorked        940 non-null    int64
 20  OverTime                  940 non-null    object
 21  PercentSalaryHike         940 non-null    int64
 22  PerformanceRating         940 non-null    int64
 23  RelationshipSatisfaction  940 non-null    int64
 24  StandardHours             940 non-null    int64
 25  StockOptionLevel          940 non-null    int64
 26  TotalWorkingYears         940 non-null    int64
 27  TrainingTimesLastYear     940 non-null    int64
 28  WorkLifeBalance           940 non-null    int64
 29  YearsAtCompany            940 non-null    int64
 30  YearsInCurrentRole        940 non-null    int64
 31  YearsSinceLastPromotion   940 non-null    int64
 32  YearsWithCurrManager      940 non-null    int64
 33  Attrition                 940 non-null    object
dtypes: int64(26), object(8)
memory usage: 249.8+ KB

In [6]:
X_train = Acme_df.drop(columns='Attrition')

X_train

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,28,Travel_Frequently,783,Sales,1,2,Life Sciences,1,1927,3,Male,42,2,2,Sales Executive,4,Married,6834,19255,1,Yes,12,3,3,80,1,7,2,3,7,7,0,7
1,39,Travel_Frequently,443,Research & Development,8,1,Life Sciences,1,602,3,Female,48,3,1,Laboratory Technician,3,Married,3755,17872,1,No,11,3,1,80,1,8,3,3,8,3,0,7
2,37,Travel_Rarely,1192,Research & Development,5,2,Medical,1,460,4,Male,61,3,2,Manufacturing Director,4,Divorced,6347,23177,7,No,16,3,3,80,2,8,2,2,6,2,0,4
3,35,Travel_Rarely,1142,Research & Development,23,4,Medical,1,75,3,Female,30,3,1,Laboratory Technician,1,Married,4014,16002,3,Yes,15,3,3,80,1,4,3,3,2,2,2,2
4,36,Travel_Rarely,506,Research & Development,3,3,Technical Degree,1,397,3,Male,30,3,2,Research Scientist,2,Single,4485,26285,4,No,12,3,4,80,0,10,2,3,8,0,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,26,Travel_Rarely,482,Research & Development,1,2,Life Sciences,1,1893,2,Female,90,2,1,Research Scientist,3,Married,2933,14908,1,Yes,13,3,3,80,1,1,3,2,1,0,1,0
936,39,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,4,Male,42,2,3,Healthcare Representative,1,Married,9991,21457,4,No,15,3,1,80,1,9,5,3,7,7,1,7
937,53,Travel_Rarely,868,Sales,8,3,Marketing,1,897,1,Male,73,3,4,Sales Executive,4,Married,11836,22789,5,No,14,3,3,80,1,28,3,3,2,0,2,2
938,19,Travel_Rarely,528,Sales,22,1,Marketing,1,167,4,Male,50,3,1,Sales Representative,3,Single,1675,26820,1,Yes,19,3,4,80,0,0,2,2,0,0,0,0
939,26,Travel_Rarely,920,Human Resources,20,2,Medical,1,1818,4,Female,69,3,1,Human Resources,2,Married,2148,6889,0,Yes,11,3,3,80,0,6,3,3,5,1,1,4

In [7]:
Y_train = Acme_df['Attrition'].copy()
Y_train

0       No
1       No
2       No
3       No
4       No
      ...
935     No
936     No
937     No
938    Yes
939    Yes
Name: Attrition, Length: 940, dtype: object

In [8]:
categorical_df = Acme_df.drop(columns='Attrition').select_dtypes(include=['object'])

categorical_df

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,OverTime
0,Travel_Frequently,Sales,Life Sciences,Male,Sales Executive,Married,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Female,Laboratory Technician,Married,No
2,Travel_Rarely,Research & Development,Medical,Male,Manufacturing Director,Divorced,No
3,Travel_Rarely,Research & Development,Medical,Female,Laboratory Technician,Married,Yes
4,Travel_Rarely,Research & Development,Technical Degree,Male,Research Scientist,Single,No
...,...,...,...,...,...,...,...
935,Travel_Rarely,Research & Development,Life Sciences,Female,Research Scientist,Married,Yes
936,Travel_Rarely,Research & Development,Medical,Male,Healthcare Representative,Married,No
937,Travel_Rarely,Sales,Marketing,Male,Sales Executive,Married,No
938,Travel_Rarely,Sales,Marketing,Male,Sales Representative,Single,Yes
939,Travel_Rarely,Human Resources,Medical,Female,Human Resources,Married,Yes

In [9]:
non_categorical_df = Acme_df.select_dtypes(exclude=['object'])

non_categorical_df

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,28,783,1,2,1,1927,3,42,2,2,4,6834,19255,1,12,3,3,80,1,7,2,3,7,7,0,7
1,39,443,8,1,1,602,3,48,3,1,3,3755,17872,1,11,3,1,80,1,8,3,3,8,3,0,7
2,37,1192,5,2,1,460,4,61,3,2,4,6347,23177,7,16,3,3,80,2,8,2,2,6,2,0,4
3,35,1142,23,4,1,75,3,30,3,1,1,4014,16002,3,15,3,3,80,1,4,3,3,2,2,2,2
4,36,506,3,3,1,397,3,30,3,2,2,4485,26285,4,12,3,4,80,0,10,2,3,8,0,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,26,482,1,2,1,1893,2,90,2,1,3,2933,14908,1,13,3,3,80,1,1,3,2,1,0,1,0
936,39,613,6,1,1,2062,4,42,2,3,1,9991,21457,4,15,3,1,80,1,9,5,3,7,7,1,7
937,53,868,8,3,1,897,1,73,3,4,4,11836,22789,5,14,3,3,80,1,28,3,3,2,0,2,2
938,19,528,22,1,1,167,4,50,3,1,3,1675,26820,1,19,3,4,80,0,0,2,2,0,0,0,0
939,26,920,20,2,1,1818,4,69,3,1,2,2148,6889,0,11,3,3,80,0,6,3,3,5,1,1,4

## Description

#### 1. nominal data

In [11]:
categorical_df.BusinessTravel.unique()

array(['Travel_Frequently', 'Travel_Rarely', 'Non-Travel'], dtype=object)

In [12]:
categorical_df.Department.unique()

array(['Sales', 'Research & Development', 'Human Resources'], dtype=object)

In [13]:
categorical_df.EducationField.unique()

array(['Life Sciences', 'Medical', 'Technical Degree', 'Marketing',
       'Other', 'Human Resources'], dtype=object)

In [14]:
categorical_df.JobRole.unique()

array(['Sales Executive', 'Laboratory Technician',
       'Manufacturing Director', 'Research Scientist', 'Human Resources',
       'Research Director', 'Healthcare Representative', 'Manager',
       'Sales Representative'], dtype=object)

In [16]:
categorical_df.MaritalStatus.unique()

array(['Married', 'Divorced', 'Single'], dtype=object)

In [17]:
categorical_df.OverTime.unique()

array(['Yes', 'No'], dtype=object)

#### - apply onehotencoding on `Department` , `EducationField` , `MaritalStatus` , `OverTime` , `Gender` and `JobRole`
#### - Apply ordinalEncoding on `BusinessTravel`

In [23]:
categorical_df.BusinessTravel.unique()

array(['Travel_Frequently', 'Travel_Rarely', 'Non-Travel'], dtype=object)

### Nominal Categorical Encoding

In [22]:
nomial_transformer = Pipeline(steps=[
   ('enoder' , OneHotEncoder(sparse_output=False , handle_unknown='ignore'))
])

nomial_transformer.fit_transform(X_train.iloc[:, [3,6,10,14,16,20]])

,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,EducationField_Other,EducationField_Technical Degree,Gender_Female,Gender_Male,JobRole_Healthcare Representative,JobRole_Human Resources,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
936,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
937,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
938,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
939,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [24]:
order = ['Non-Travel' , 'Travel_Rarely' , 'Travel_Frequently']
ordinal_transformer = Pipeline(steps=[
    ('encoder' , OrdinalEncoder(categories=[order]))
])

ordinal_transformer.fit_transform(X_train.loc[:, ['BusinessTravel']])

     BusinessTravel
0               2.0
1               2.0
2               1.0
3               1.0
4               1.0
..              ...
935             1.0
936             1.0
937             1.0
938             1.0
939             1.0

[940 rows x 1 columns]

## Column Transform

In [ ]:
Column_Transformer = ColumnTransformer(transformers=[
    ('cat' , nomial_transformer , ['Department' , 'EducationField' , 'Gender' , 'JobRole' , 'MaritalStatus' , 'OverTime']),
    ('ord' , ordinal_transformer , ['BusinessTravel'])
])